@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0px;
  outline: 0px;
  margin: 0px;
  font-family: "Poppins";
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
  padding: 2%;
  border: 1px solid black;
  width: 50%;
  display: flex;
  gap: 5%;
  .profile-details{
    width: 40%;
  }

  .career{
    width: 60%;
  }
}

.head {
  font-size: larger;
  font-weight: bolder;
}

.title-head{
  font-size: large;
  font-weight: bold;
}

.name {
  font-size: large;
}

.sm{
  font-size: small;
}

.xsm{
  font-size: x-small;
}

.md{
  font-size: medium;
}

.op{
  opacity: .65;
}

.profile-details{
  background-color:#3c4240;
  color: #fff;
  progress{
    width: 90%;
    height: 1vh;
  }
  hr{
    height: .25vh;
    margin-bottom: 4%;
    background-color: #F1F1F1;
  }
  .git-edn{
    display: flex;
    font-size: smaller;
    width: 75%;
    cursor: pointer;
  }
}

.profile{
  padding: 7%;
  background-color: #5271ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    border-radius: 50%;
    margin-top: 5px;
    width: 60%;
  }
}

.githubid,.linkdenid{
  width: 50%;
  display: inline-flex;
  gap: 4%;
  a{
    text-decoration: none;
    color: #F1F1F1;
  }
  div{
    width: 20%;
    img{
      width: -webkit-fill-available;
    }
  }
  margin-right: 4%;
}


.certificate{
  margin-top: 6%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 6%;
  div{
    margin-bottom:1%;
  }

}

.contacts,.skills,.certificates {
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  .cmain{
    padding-left: 10%;
    width: 80%;

  }
}

.certificates .head{
  img{
    width: 7%;
  }
}
.career{
  li{
    list-style-image: url(./assets/arrow-right-circle-fill.svg);
    margin-left: 8%;
    margin-bottom: 1%;
    div{
      margin-left: 5%;
    }
  }

  .head{
    color: #5271ff;
  }
  hr{
    height: 2px;
    background-color: #000;
    margin-bottom: 2%;
  }
}


.objective,.work-exp,.projects,.edu{
  gap: 10%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.rol-org,.project-details,.edu-details{
  width: 60%;
  display: flex;
  flex-direction: column;
}

.rol-org-time{
  display: flex;
  justify-content: space-between;
}

.b-text {
  font-weight: bold;
}
